.main{
    height: auto;
    width: 100%;
    background-color: gray;
}
.header{
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #1e0c06;
    height: 150px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
align-items: center;
}
.logo{
    position: relative;
    /* background-color: red; */
}
.navbar{
    /* display: flex; */
    height: 54px;
    width: 50%;
    /* background-color: green; */
}
.navbar ul{
    color: white;
    height: 24px;
    display: flex;
    /* background-color: blue; */
     list-style: none;
     gap: 57px;
    font-size: 20px;

}
a{
    text-decoration: none;
    color: white;
}
.ourWorkmain{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    /* margin-top: 100px; */
    height: 700px;
    width: 100%;
    /* background-color: red; */

}
.workHeading{
    color: white;
    margin-top: 50px;
    margin-left: 250px;
    font-size: 60px;
    height: 100px;
    width: 50%;
    /* background-color: yellow; */
}
.workImage{
    height: 550px;
    width: 70%;
    /* background-color: black; */
}
.aeroIcon i{
    font-size: 50px;
}
.questionMain{
    display: flex;
    height: 500px;
    width: 100%;
    background-color: black;
}
.questionHeading{
    color: white;
    width: 80%;
    font-size: 80px;
    text-align: end;
}
.Questionform {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 50%;
    background-color:black;

}
input{
    background-color: black;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 40px;
    height: 50px;
    width: 450px;
}
textarea{
    background-color: black;

    text-align: center;
    font-size: 20px;
     margin-top: 20px;
    border-radius: 40px;
    height: 200px;
    width: 450px;
}
.questionButton button{
    margin-top: 20px;
    margin-right: 300px;
    border-radius: 30px;
    height: 40px;
    width: 100px;
    background-color:  #728bad;
    color: white;
    border: none;
}
.questionText{
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    align-items: center;
    height:500px ;
    background-color: black;
    width: 50%;
    color: white;
}
.qpara{
    width:40%;
    font-size: 25px;
}
.qimage img{
    transform: rotate(320deg);
    margin-top: 50px;

}
.footerMain{
    position: relative;
margin-top: 30px;
    height: 150px;
    width: 100%;
    background-color: #222021;
    box-shadow: -25px 5px 15px 15px white;
    
    display: flex;
    flex-wrap: wrap;
    color: white;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
}
.footerno{
    
}
.footerAdd{
    width: 260px;
}
.privacy{
    width: 85%;
    /* background-color: red; */
}

@media (max-width:820px) and (min-width:320px){
.header{
    align-items: start;
    margin-top: 0px;
    height: 350px;
}
    .navbar ul{
        height: auto;
        flex-direction:column; 
    }
    .heroTextbox{
        width: 80%;
        flex-direction: column;
    }
    .textPara{
        width: 100%;
    }
    .textHeading{
        font-size: 70px;
    }
    .cardHeading{
        margin-left: 0px;
        text-align: start;
        width: 100%;
        /* background-color: red; */
        font-size: 60px;
        margin-top: 500px;
    }
    .card1iconimage ul{
        font-size: 18px;
    }
    .CardsSection{
background-color: red;
        margin-top: 100px;
      }
      .card1 img{
        width: 100px;
      }
.card2 img{
        width: 100px;
      }
.card3 img{
        width: 100px;
      }

.workHeading{
    margin-left: 0px;
    /* background-color: red; */
    font-size: 45px;
    width: 100%;
}

    .advantagesHeading{
        width: 100%;
        /* background-color: red; */
        margin-left: 0px;
        font-size: 45px;
    }
    .para1{
        width: 100%;
        /* background-color: blue; */
        font-size: 25px;
    }
    .para2{
        width: 100%;
        /* background-color: blue; */
        font-size: 25px;
    }
    .para3{
        width: 100%;
        /* background-color: blue; */
        font-size: 25px;
    }
    .advantagesMain{
        flex-direction:  column-reverse;
    }
    .advantagesPara{
        gap: 15px;
        color: white;
        margin-top: 250px;
        width: 100%;
   }
   .advantagesBTN{
    /* width: 100%; */
    margin-top: 400px;
   }
.advantagesImage img{
    width: 100%;
}



   .aboutusMain{
    height: 1200px;
    margin-top: 100px;
    flex-direction: column;

   }
   .aboutPara{
    width: 100%;
   }
   .aboutImages{
    margin-top: 100px;
    width: 100%;
   }




.questionHeading{
    text-align: start;
    font-size: 45px;
    /* background-color: red; */
    width: 100%;
}
   .questionMain{
    margin-top: 200px;
    flex-direction: column-reverse;
   }
   .questionText{
    width: 100%;
   }
   .qpara{
    margin-left: 0px;
    /* background-color: red; */
    width: 70%;
   }
   .qimage{
    display: none;
    margin-top: 0px;
    background: none;
   }
   .Questionform{
    width: 100%;
   }
 .Questionform input {
    width: 100%;
 }
 .Questionform textarea{
    width: 100%;
 }
.footerMain{
    justify-items: center;
flex-direction: column;
 }
}